<div>
  
  <!-- <p>{{item.id}}</p>
  <p>{{item.client_name}}</p>
  <p>{{item.code}}</p> -->
  

           
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 200%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<div class="col-sm-4">
  <b><p>Invoice Delivery Instruction</p></b>
</div>

<div style="overflow-x:auto;margin-left: 15px;">
  <table>
    <tr>
      <td>Instruction level</td>
      <td>Epic Agency Code</td>
      <td>Site ID</td>
      <td>Contact name</td>
      <td>GLOB</td>
      <td>Description</td>
      <td>Updated by</td>
      <td>Action</td>
      
    </tr>
    <tbody *ngFor="let x of item.client_inv_del.$values">
        <tr>
            <td>{{x.inv_delivery.instr_level}}</td>
            <td>{{x.inv_delivery.agency_code}}</td>
            <td>{{x.inv_delivery.s_id}}</td>
            <td>{{x.inv_delivery.contact_name}}</td>
            <td>{{x.inv_delivery.glob}}</td>
            <td>{{x.inv_delivery.desc}}</td>
            <td>{{x.inv_delivery.updated_by}}</td>
            
            <td> <a href="#" [routerLink]="['/Lobcat/',  'view']" > <i style="color: black;" class="fas fa-eye"></i></a>&nbsp;|&nbsp;<a href="#" [routerLink]="['/Lobcat/',  'edit']" > <i style="color: black;" class="fas fa-edit"></i></a>&nbsp;|&nbsp;<a  > <i class="fas fa-trash-alt"></i></a></td>
            
          </tr>
    </tbody>
    
    
  </table>
</div>
<div #target>
  <app-addedit [item]="item"></app-addedit>
</div>

