
<div style="margin-top: 5%;" class="container">
<div class="card">
    <div class="card-header">
      <h4><b style="font-size:20px;">ID&nbsp;{{item.id}}</b></h4>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p style="font-size:18px;">Category Name-&nbsp;<b>{{item.lobCategoryName}}</b></p>
       <p style="font-size:18px;">Created by-&nbsp;<b>{{item.createdBy}}</b></p>
        <p style="font-size:18px;">Updated by-&nbsp;<b>{{item.updatedBy}}</b></p>
        
      </blockquote>
      <button routerLink="/Lobcat" type="button" style="font-size:18px;width: 80px; height: 35px; background-color: #3399ff;border:none;color:white;">Back</button>
    </div>
  </div>
  </div>
