<head>
	<meta charset="UTF-8">
	<title>IRD Page</title>
	<link rel="stylesheet" href="C:\Users\kdineshk\Desktop\angular\home.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>

<div class="wrapper">
  <div class="top_navbar">
    

   
    <div class="top_menu">
      <a href="/Home" class="image" ><img src="../assets/logo (1).png" align="left" width="40px" height="0%" style="padding-left: 10px; ">
      </a>
      <a routerLink="/Home" class="logo" style="margin-right: 79%;text-decoration: none; font-size:18px;">IRD Application</a>

      <div class="user" align="right">
      <ul>
        
        
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
          <li><a href="#">&nbsp;
          <i class="hey"style="font-size:18px;">User</i>&nbsp;
          </a></li>
      </ul>
        </div>
      </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a routerLink="/Home">
          <span class="icon"><i class="fa fa-home" aria-hidden="true" ></i></span><br>
          <span class="title" style="font-size:10px;">Home</span></a></li>
        <li><a routerLink="/billing-instruction">
          <span class="icon"><i class="fas fa-file-video"></i></span><br>
          <span class="title" style="font-size:10px;">Invoice </span><br>
          <span class="title" style="font-size:10px; ">Delivery </span><br>
          <span class="title" style="font-size:10px; ">Instruction</span><br>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fa fa-university" aria-hidden="true"></i></span><br>
          <span class="title" style="font-size:10px;">Distrbution </span><br>
          <span class="title" style="font-size:10px;">Work </span><br>
          <span class="title" style="font-size:10px;"> Queue</span>
          </a></li>
        <li><a href="#" >
          <span class="icon"><i class="fa fa-university" aria-hidden="true"></i></span><br>
          <span class="title" style="font-size:10px;">Exception</span><br>
           <span class="title" style="font-size:10px;">Work </span><br>
           <span class="title" style="font-size:10px;">Queue</span><br>
          </a></li>
        <li><a routerLink="/Lobcat" >
          <span class="icon"><i class="fa fa-university" aria-hidden="true"></i></span><br>
          <span class="title" style="font-size:10px;">Admin</span>
          </a></li>
          <li><a href="#">
          <span class="icon"><i class="fa fa-fax" aria-hidden="true"></i></span><br>
          <span class="title" style="font-size:10px;">Reports</span>
          </a></li>
    </ul>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>