<div style="margin-top: 5%;">
	<div class="main_container">
	</div>
</div> 
<div class="card-body" style="height:900px;">
 
   <div class="policy">
      <h4 style="text-align:left;margin-top: -10px;margin-left: 2px;height: 30px;padding-right: 30px;padding-top: 16px; font-size: 15px;"><b>Add/Edit invoice Delivery Instruction</b></h4>
      <hr>
    </div>
    <form (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-2">
        <p>Instruction Level</p>
      </div>
      
      <div class="col-sm-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (change)="ird()" value="option1">
        <label class="form-check-label" for="inlineRadio1">Account</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (change)="irds()"  value="option2">
        <label class="form-check-label" for="inlineRadio2">Contact</label>
      </div>
    </div>
    </div>
    <br>

<div class="row" *ngIf="ird_account">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
<select class="form-select" id="instr_level" name="instr_level" [(ngModel)]="instr_level" style="margin-top: 1px; width: 500px;border:none;border-bottom:2px solid grey;" aria-label="Default select example"><option value="1">Account</option>
<option value="1">Bank</option>
<option value="Insurance">Insurance</option>
<option value="Hdfc">Hdfc</option>
<option value="union">union</option>
</select>
</div>
</div>
<div class="row" *ngIf="ird_contact">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
<select class="form-select" id="instr_level" name="instr_level" [(ngModel)]="instr_level" style="margin-top: 1px; width: 500px;border:none;border-bottom:2px solid grey;" aria-label="Default select example">
<option value="1">Contact</option>
<option value="yaswanth">yaswanth</option>
<option value="shruthi">shruthi</option>
<option value="manohar">Manohar</option>
<option value="afroz">afroz</option>
</select>
</div>
</div>


    <br>
    <br>
    <div class="row" >
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <label for="desc" style="color: lightgray;text-align: left;"></label>
        <textarea name="desc" id="desc" [(ngModel)]="desc" placeholder="Short Description" style="border:none;border-bottom:2px solid grey;width:900px;"></textarea><br>
      </div>
    </div>
    <hr>


    <div class="row">
      <div class="col-sm-2">
        <p>Invoice Delivery</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <p> Distribution Type</p>
      </div>
      <div class="col-sm-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Email</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"   value="option2">
        <label class="form-check-label" for="inlineRadio2">Mail</label>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <p>Multiple Email Address(es)</p>
      </div>
      <div class="col-sm-4">
     
      <p>To:</p>
       
      </div>
      <div class="col-sm-4">
     <p>CC:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
  
      </div>
      <div class="col-sm-4" >
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
  
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check form-check-inline">
  
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
        </div>
      </div>
   
    </div>
    <br>
    
    <div class="row">
      <div class="col-sm-2">
  
      </div>
      <div class="col-sm-4" >
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
  
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check form-check-inline">
  
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
        </div>
      </div>
   
    </div>
    <br>
    
    <div class="row">
      <div class="col-sm-2">
  
      </div>
      <div class="col-sm-4" >
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
  
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check form-check-inline">
  
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
        </div>
      </div>
   
    </div>
    <br>
    
    <div class="row">
      <div class="col-sm-2">
  
      </div>
      <div class="col-sm-4" >
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
  
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check form-check-inline">
  
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
        </div>
      </div>
   
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
  
      </div>
      <div class="col-sm-4" >
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
  
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check form-check-inline">
  
          <input class="form-check-input " type="text" name="text" id="text" placeholder="Recipient" style="width: 380px;">
        </div>
      </div>
   
    </div>
  
   
    
  

    <div class="row">
      <div class="col-sm-2" >
  
      </div>
    <div class="col-sm-10">
  
        <p>EMAIL INSTRUCTIONS: </p>
        <p style="font-size: small;">if the client requires delivery to multiple email addresses,provide the email addresses below and update the email address on the send invoice to screen at each policy level to xxx.billing@willistowerwatson.com.(xxx=Agency three letter code e.g.ALA.CAL, TEN, TEX)
        </p>
  
        <p style="font-size: small;">Note: a single email will be sent to all recipient listed below</p>
  
    <input type="submit" value="Submit" class="btn btn-primary">
      </div>
  
    </div>
  </form>
</div>


 