<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div style="margin-top: 5%;">
	<div class="main_container">
		<div style="background: #dedede;
		color: grey;
		font-weight: 0;
		font-size: 30px;
		line-height: 18px;
		
		margin-top: 65px;
		margin-left: 8%;
		padding: 20px;
		padding-top: 5px;
		margin-right: 0px;
		background-color: white;">
	Invoice template
		</div>
	  </div>
</div>
<div >
  <div style="margin-left: 100px;
    margin-right: 13px;
    background-color: #ebebeb;
    margin-bottom: 0px;
    padding-bottom: 50%;
    text-align: left;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 20pt;">
<div class="card" style="max-height: 400%;margin-top: 50px;">
  <div class="card-header" style="background-color:white;margin-top: 20px;padding-top: 7px;font-size: medium;">
    <b>Search Instruction</b>
  </div>
  
  <form (ngSubmit)="onSubmit()" class="card-body" >

 <div class="row">
   <div class="col-sm-10">
    <input type="text" id="c_name" name="c_name" [(ngModel)]="c_name" placeholder="Client" style="width: 100%;border-top: 20px;border-bottom: 1px solid grey;border-right: none;">
  </div>
  <div class="col-sm-1">
  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width: 40px;border: none;background-color: white;color: black">
    <i class="fas fa-search" ></i>
  </button>
  </div>
  <div class="col-sm-1">

  <div *ngIf="item!=null; else elseBlock"><button class="btn btn-primary" type="button">Add</button></div>
<ng-template #elseBlock></ng-template>
</div>
</div>
  <p style="margin-top: 25px;">select client or Epic lookup code</p>

  </form>
  <div *ngIf="item!=null; else elseBlock"><app-final-data [item]="item"></app-final-data></div>
<ng-template #elseBlock></ng-template>
  
</div>
  </div>
</div>

    
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog" role="document" >
          <div class="modal-content" >
            <div class="modal-header" style="height: 65px;background: #ebebeb;">
              <h5 class="modal-title" id="exampleModalLabel">Select Client</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
           
          
                  

            <table  id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"  style="margin-top: 10px;" >
                <thead>
                  <tr>
                    <th scope="col" >Client name</th>
                    <th scope="col">Client contact</th>
                    <th scope="col">Lookup Code</th>
                  </tr>
                </thead>
                
                  <tbody>
                    <tr>
                    <td style="background-color: lightblue;" scope="row">{{obj.client_name}}</td>
                      <td style="background-color: lightblue;">-</td>
                      <td style="background-color: lightblue;">{{obj.code}}</td>
                     
                    </tr>
                  
                   
            </table>
           
            <div class="modal-footer" style="margin-top: 280px;">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" (click)="loading(obj.id)"  data-dismiss="modal">Select  </button>

            </div>
          </div>
        </div>
      </div>
      
